# Terraform files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform/
terraform.tfstate.d/

# Local environment files
*.tfvars
!environments/**/*.tfvars

# Crash log files
crash.log

# Mac system files
.DS_Store
